	.badge.badge-notif{
	    border: 1px solid #0275d8;
	    border-radius: 0;
	    color: #0275d8;
	}
	.badge a {
	    padding-left: 4px;
	    margin-left: 5px;
	    border-left: 1px solid #0275d8;
	    color: #0275d8;
	    height: 100%;
	    padding-top: 1px;
	    padding-bottom: 2px;
	    padding-right: 5px;
	    margin-right: -5px;
	}
	.badge a:hover {
	    color: white !important;
	    background-color: #0275d8;
        text-decoration: none;
	}	