.menu-dropdown{
	.dropdown-toggle{
		padding-right: 0.9rem;
		padding-left: 0.9rem;
		padding-top: 0.7rem;
		padding-bottom: 0.3rem;   
	    font-size: 0.9rem;
		font-weight:300;

		&:hover {
	    	border-color: #0275d8;
	    	background-color:white;
		}

		&:focus  {
		    outline:none;
		    box-shadow: none;
		}
	}

	.show > .btn-secondary.dropdown-toggle {
	    background-color: white;
	    background-image: none;
    	border-color: #0275d8;
    	color: #0275d8;
	    z-index: 2;
	    outline:none;
	    box-shadow: none;
	}
	.show > .btn-secondary.dropdown-toggle::after {
	    border-bottom: 0.3em solid #0275d8;
	    border-left: 0.3em solid transperant;
	    border-right: 0.3em solid transperant;
	    border-top: none;
	}

	.dropdown-menu{
	    border-color: #adadad;
	    margin-top: -1px;
	    border-radius: 0px;
	    padding:0px;
	    z-index: 1;
	}
	.dropdown-item{
		padding-right: 0.9rem;
		padding-left: 0.9rem;
		padding-top: 0.4rem;
		padding-bottom: 0.4rem;   
		font-size: 0.8rem;
		text-align:right;
	}	
}
