.editor {
	p, ul, ol, h5 {
		margin-top: 0;
		margin-bottom: 0;
	}
	h4 {
		margin-top: 5px;
		margin-bottom: 5px;
		color: inherit;
		font-size: 16px !important;
		b {
			font-weight: bold;
		}
	},
	h5 {
		color: inherit;
		font-size: 14px !important;
		b {
			font-weight: bold;
		}
	}

	ol, ul{
		margin-left: -40px;

		li{
			margin-left: 40px;

			ol, ul{
				margin-left: -80px;

				li{
					margin-left: 80px;

					ol, ul{
						margin-left: -120px;

						li{
							margin-left: 120px;

							ol, ul{
								margin-left: -160px;

								li{
									margin-left: 1600px;
								}
							}							
						}
					}					
				}
			}			
		}
	}
}

.page-editor{ 
	.wrapper {
	    margin-left: -150px;
	    margin-bottom: 10px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    border: 1px solid rgba(0,0,0,.07)!important;
	}
	.wrapper.unlocked {
		border: 1px solid rgba(2, 117, 216, 0.58)!important;
	}
	.wrapper:hover {
		margin-top: -1px;
		margin-bottom: 11px;
		box-shadow: 2px 2px 7px rgba(0,7,10,.2);
		cursor: default;
	}
	.wrapper .control {
	   	width: 149px; 
	   	height: auto; 
	   	padding-left: 15px;
	   	color: #EDEDED;
	   	float: left;
	}
	.wrapper .content {
	    padding-left: 155px;
	}
}