.filter{
	
	ul{
	    padding-left: 0px;
	    list-style: none;
	    font-size: 0.8rem;

		a {
			.active{
				color : #0275d8 ;
			}

			&:focus, &:hover  {
				color : #0275d8 ;
				text-decoration: none;
			}
		} 
	
	    li{
	        padding-top: 9px;
		    padding-bottom: 9px;
		    background-color: white;
		    padding-left: 12px;
		    border: 1px solid rgba(0, 0, 0, 0.15);
		    color: #464a4c;
		    margin-top: -1px;

			&:hover  {
				color : #0275d8 		    
		    }

		    .indicator{
			    padding-top: 4px;
		    	padding-right:10px;
		    }
	    }
	}	
}