.list-widgets {
	a span {
		color: #ddd;
		&.active {
			color: #5cb85c;
		}
	}
}

/**
 * modify list-group first-child disable border radius on top right & left
 */
.list-group-item {
	&:first-child {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}