/*navbar*/
.navbar{
letter-spacing: 0.5pt;
}

.navbar .dropdown-menu {
font-size: 0.8rem;
border-radius: 0px;
margin-top: 9px;
margin-left: -3px;
padding: 0px;
border-top: transparent;
font-weight:400;
}

.navbar .dropdown-item {
padding-left: 15px;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 5px;
}

.navbar .nav-item .nav-link{
padding-right: 0.7rem;
padding-left: 0.7rem;
font-size: 0.9rem;
padding-top: 0.7rem;
padding-bottom: 0.3rem;   
font-weight:400;
	@media screen and (min-width: 800px) {
		padding-right: 0.9rem;
		padding-left: 0.9rem;	
	}
}
.navbar-inverse .navbar-toggler{
border-color: transparent;
padding-top: 8px;
}

.navbar-inverse .navbar-toggler:focus{
outline: none;
}            

.navbar .menu-mobile{
padding-top: 30px;
height: 100vh;
}

.navbar .menu-mobile .menu-item > div{
height: 100px; 
background-color: white;
}

.navbar .dropdown-item.active{
color: #0275d8;
text-decoration: none;
background-color: white;
} 