.scrollable_panel{
	height: calc(100% - 54px);
	margin-left:15px;
	padding-left:0px; 
	overflow-y: scroll;
}

.input_panel{
	background-color:white;
	margin-top:2rem;
	margin-bottom:2rem;
	padding-bottom:2rem;
}