.scrollable_panel{
	height: 100%;
	padding-left:0px; 
	overflow-y: scroll;
}

.input_panel{
	background-color:white;
	margin-top:2rem;
	margin-bottom:2rem;
	padding-bottom:2rem;
}

// custom
.subset-menu{
	height: calc(100vh - 54px);
}

.subset-2menu{
	height: calc(100vh - 94px);

	@media screen and (max-width: 575px) {
		height: calc(100vh - 134px);
	}
}

.subset-submenu{
	height: calc(100vh - 40px);

	@media screen and (max-width: 575px) {
	}
}


.subset-sidebar{
	@media screen and (min-width: 767px) {
		margin-left: 15px;
	}
	@media screen and (max-width: 768px) {
		padding-left: 15px;
	}
}

@media screen and (max-width: 768px) {
	.full-on-mobile{
		width: 100vw !important;
	}
}

.sidebar-right{
	position: absolute;
	right: 0px;

	.sidebar p{
	    font-size: 0.8rem;
	}

	.sidebar h4{
	    font-size: 1rem;
	}	

	.sidebar-right {
	    padding: 0vw;
	    overflow-x: hidden;
	    width: 350px;
	}
	.sidebar ul {
		border-bottom: 1px solid rgb(2, 117, 216);
	}

	.sidebar ul li{
	    width: 33vw;
	    text-align: center;
	    font-size: 0.8rem;
	}
}