.scrollable_panel{
	height: 100%;
	padding-left:0px; 
	overflow-y: scroll;
}

.input_panel{
	background-color:white;
	margin-top:2rem;
	margin-bottom:2rem;
	padding-bottom:2rem;
}

// custom
.subset-menu{
	height: calc(100% - 54px);
}

.subset-2menu{
	height: calc(100% - 94px);
}
