.sidebar{
	height: calc(100% - 54px); 
	background-color: rgba(0, 0, 0, 0.075); 
	margin-left: -15px; 
	padding-left: 30px;

	h5{
		padding-top: 2rem; 
		padding-bottom: 0.5rem;
	}

	.btn-secondary{
		color: #0275d8 ;
	}
}