.sidebar{
	height: calc(100% - 54px); 
	background-color: rgba(0, 0, 0, 0.075); 
	
	@media screen and (min-width: 767px) {
		margin-left: -15px; 
		padding-left: 30px;
	}
	
	padding-top:1.2rem;
	overflow-y:scroll;

	.panel{
		margin-bottom: 1.5rem;
	}

	h5{
		padding-top: 0.5rem; 
		padding-bottom: 0.5rem;
	}

	.btn-secondary{
		color: #0275d8 ;
	}
}

.sidebar-right{
	@media screen and (min-width: 767px) {
		margin-left: 0px; 
	}
}