.sidebar{
	height: calc(100% - 54px); 
	background-color: #DADADA; 
	
	@media screen and (min-width: 767px) {
		margin-left: -15px; 
		padding-left: 30px;
	}
	
	padding-top:1.2rem;
	overflow-y:scroll;

	.panel{
		margin-bottom: 1.5rem;
	}

	h5{
		padding-top: 0.5rem; 
		padding-bottom: 0.5rem;
	}

	.btn-secondary{
		color: #0275d8 ;
	}
}

.sidebar-right{

	position: absolute;
	right: 0px;
	padding: 0px;


	@media screen and (min-width: 767px) {
		margin-left: 0px; 
	}

	.nav-tabs .nav-link{
		border: none;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
	}

	.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	    border-color: transperant;
    }

    .nav-tabs .nav-link.active{
	    color: #ffffff;
	    background-color: #0275d8;
	    border-color: transperant;
    }

	.sidebar p{
	    font-size: 0.8rem;
	}

	.sidebar h4{
	    font-size: 1rem;
	}	

	.sidebar-right {
	    padding: 0vw;
	    overflow-x: hidden;
	    width: 350px;
	}
	.sidebar ul {
		border-bottom: 1px solid rgb(2, 117, 216);
	}

	.sidebar ul li{
	    width: 33vw;
	    text-align: center;
	    font-size: 0.8rem;
	}

	.fa-stack{
		width: 20px;
	}
}

