// Fonts Import
// @import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');


@font-face {
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  font-weight: normal;
  src: url(font/Inconsolata-Regular.ttf);
}

@font-face {
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  font-weight: bold;
  src: url(font/Inconsolata-Bold.ttf);
}


.font-editor {
	font-family: 'Inconsolata', monospace;
}
.title{
	padding-top: 2rem;
	padding-bottom: 1.5rem;
}

h4{
    font-size: 1.4rem;
    // font-weight: 300;
    color:gray;
}

h5{
    font-size: 1.1rem;
    font-weight: 300;
    color:gray;
}   