/*
.version-prev{
	background-color: #FFECEC !important;
}
.version-current{
	background-color: #EAFFEA !important;
}
*/
.version-current{

	div{
		background-color: #EAFFEA !important;
		color: initial;
	}

	&:hover{
		text-decoration: none;
	}

	&:focus{
		text-decoration: none;
	}	
}
