.pagination{
	li{
		padding: 2px;

		a{
			padding-top: 2px;
		    padding-bottom: 2px;
		    padding-left: 0.5rem;
		    padding-right: 0.5rem;
		    background-color: #eceeef;

			&:hover  {
				text-decoration: none;
		    	background-color: #0275d8;
				color: white;
		    }	    
		}
	}

	li.active{
	    span{
			padding-top: 2px;
		    padding-bottom: 2px;
		    padding-left: 0.5rem;
		    padding-right: 0.5rem;
    	    background-color: #0275d8;
    	    color:white;
	    }		
	}

	li.disabled{
	    span{
			padding-top: 2px;
		    padding-bottom: 2px;
		    padding-left: 0.5rem;
		    padding-right: 0.5rem;
    	    background-color: rgba(0, 0, 0, 0.15);
    	    color:gray;
	    }		
	}		
}